.hardware{
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
    background-color: #0A0A0A;
    justify-content: center;
    color: #CCCCCC;
}

.hardwarecontent{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Search*/
input{
    position: absolute;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 16px;
    background: transparent;
    width: 25px;
    height: 25px;
    padding: 10px;
    border: solid 3px #CCCCCC;
    outline: none;
    border-radius: 35px;
    transition: all 0.5s;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2), 0 6px 20px 0 #3f3f46;
}

input::placeholder{
    color: #efefef;
    opacity: 0;
    transition: opacity 150ms ease-out;
}

input:focus::placeholder{
    opacity: 1;
}

input:hover{
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2), 0 6px 20px 0 #3f3f46;
}

input:focus,
input:not(:placeholder-shown){
    width: 250px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2), 0 6px 20px 0 #3f3f46;
}


/*Article CSS*/

.articles{
    color: #CCCCCC;
    width: 50%;
}

.panel{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40%;
    padding: 1%;
    text-align: justify;
}

.date{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 25%;
    height: 70%;
}

.date h1{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 80px;
    font-weight: bold;
    height: 1%;
}

.date p{
    font-size: 18px;
}

.description{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #CCCCCC;
    padding: 3%;
    border-bottom: solid;
    border-color: #CCCCCC;
    border-width: 1px;
}

/*Filters CSS*/

.filters{
    color:#CCCCCC;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}
