.HomePage{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.content{
    margin-top: 80px;
    background-color: #0A0A0A;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 55%;
}

.info{
    color: #CCCCCC;
    text-align: justify;
    padding: 3%;
}

#videoBG {
    position:fixed;
    z-index: -1;

/*not work if the screen ratio is below 16/9*/
    width:100%;     
    height: auto;
}

@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width:100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #videoBG { 
        width:auto;
        height: 100%;
    }
}