/*----------------------------------------------------------------- Navigation Bar -----------------------------------------------------------------*/
.NavBar{
    background-color: #0A0A0A;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    overflow: hidden;
}

.NavBar button:hover{
    background-color: rgb(107, 107, 107);
    height: 56px;
}

/*----------------------------------------------------------------- Homepage button only -----------------------------------------------------------------*/

.mainBut{
    background-color: #0A0A0A;
    color: #CCCCCC;
    border:none; 
    font-family: 'Roboto';
    cursor: pointer;
    font-size: 2em;
    height: 56px;
    display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
    margin-left: 1%;
    position: relative;
	display: flex;
}

/*----------------------------------------------------------------- Buttons: dropdowns, software, hardware and videos -----------------------------------------------------------------*/

.navigationButs button{
    background-color: #0A0A0A;
    color: #CCCCCC;
    border:none; 
    font-family: 'Roboto';
    cursor: pointer;
    font-size: 2em;
    height: 56px;
	font-weight: bold;
}

/*----------------------------------------------------------------- Dropdown buttons for CVs -----------------------------------------------------------------*/

.dropdown-content-CV {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}
  
.dropdown-content-CV a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content-CV a:hover {
    background-color: #ddd;
}
  
#dropdown-CVs:hover .dropdown-content-CV {
    display: block;
}

/*----------------------------------------------------------------- Dropdown buttons for affiliates -----------------------------------------------------------------*/

.dropdown-content-affiliates {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}
  
.dropdown-content-affiliates a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content-affiliates a:hover {
    background-color: #ddd;
}
  
#dropdown-affiliates:hover .dropdown-content-affiliates {
    display: block;
}

/*----------------------------------------------------------------- Transition and animation for techno -----------------------------------------------------------------*/

.mainBut:hover #techno{
    position: relative;
	display: flex;
    animation-name: animate;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: 2;
}

.mainBut span:nth-child(8)
{
	animation-delay: 0.0s;
}
.mainBut span:nth-child(7)
{
	animation-delay: 0.1s;
}
.mainBut span:nth-child(6)
{
	animation-delay: 0.3s;
}
.mainBut span:nth-child(5)
{
	animation-delay: 0.5s;
}
.mainBut span:nth-child(4)
{
	animation-delay: 0.6s;
}
.mainBut span:nth-child(3)
{
	animation-delay: 0.7s;
}

@keyframes animate 
{
    0%    {transform: scale(0);}
    40%   {transform: scale(0);}
    50%,100%  {transform: scale(0);}
}

/*----------------------------------------------------------------- Transition and animation for Weebs -----------------------------------------------------------------*/
.mainBut:hover #Weebs{
    position: relative;
    display: flex;
    animation-name: movement;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

@keyframes movement{
    0%   {right:0px;}
    25%  {right:92px;}
    50%,100%  {right:92px;}
}